Repository 42eleven/kubecamp.io, pull requests merged in 2023-06, with the labels that each got.

#6 Add DX helper: VSCode devcontainer PR extension
  .devcontainer/devcontainer.json
Labels: enhancement

#10 Add payment link and event info
  content/events/athens-sep-23.md
Labels: content

#9 Add links in bio
  content/pages/instructors.md
Labels: content

#11 Small update on intro page
  content/_index.md
Labels: content

#12 Fix local CSS & minor formatting updates
  .devcontainer/devcontainer.json
  content/_index.md
  content/events/athens-sep-23.md
Labels: bug, content, dev
